body{
	background-image: linear-gradient(to left, #345, #567);
	font-size: 15px;
}
.menubutton{
	transform: rotate(90deg);
	width: 18px;
	height: 35px;

	padding: 10px;
	font-size: 30px;
	transition: 0.5s linear;
	color: #fff;
	margin-top: 0px;
	margin-left: 10px;
}
.menubutton2{
	transform: rotate(-270deg);
	width: 18px;
	height: 35px;

	padding: 10px;
	font-size: 30px;
	transition: 0.5s linear;
	color: #fff;
	margin-top: 0px;
	margin-left: 10px;
}
.header{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 50px;
	border-bottom: 3px solid black;
	background-image: linear-gradient(to top left, #234, #456);
	z-index: 1500;

}
.menuopened{
	position: fixed;
	width: 300px;
	max-width: 90%;
	top: 50px;
	left: 0px;
	height: 100%;
	border-right: 3px solid black;
	background-image: linear-gradient(to top left, #123, #345);
	transition: 0.5s ease-out;
	z-index: 1000;
	padding: 20px;
	font-size: 25px;
	color: #eee;
	overflow-y: visible; 
}
.menuclosed{
	position: fixed;
	width: 300px;
	max-width: 90%;
	transition: 0.5s ease-out;
	top: 50px;
	left: -350px;
	height: 100%;
	border-right: 3px solid black;
	background-image: linear-gradient(to top left, #123, #345);
	z-index: 1000;
	padding: 20px;
	font-size: 25px;
	color: #eee;
	overflow-y: visible; 


}
a{
	text-decoration: none;
	font-size: 25px;
	color: #eee;
	margin-bottom: 50px;
}
a:hover{
	text-decoration: underline;
	font-size: 25px;
	color: #eee;
	margin-bottom: 50px;
}