.session_ticket{
color: black;
border: 3px solid black;
margin-bottom: 3px;
border-radius: 10px;
padding: 4px;
background-color: #cce;
}


.session_ticket_opened{
color: black;
border: 3px solid black;
margin-bottom: 3px;
border-radius: 10px;
padding: 40px;
background-color: #cce;
position: absolute;
width: calc(95% - 80px);
left: 1.5%;
height: 90%;
top: 15%;
transition: 0.3s ease-in-out;
animation-duration: 0.3s;
animation-name: slidein;
}

@keyframes slidein {
  from {
    left: -201.5%;
	height: 90%;
	top: 200%;
    width: 500%;
  }

  to {
    left: 1.5%;
	height: 90%;
	top: 15%;
    width: calc(95% - 80px);
  }
}


.session_ticket_closed{
color: black;
border: 3px solid black;
margin-bottom: 3px;
border-radius: 10px;
padding: 4px;
background-color: #cce;
position: absolute;
width: calc(95% - 80px);
left: 1.5%;
height: 90%;
top: 100%;
transition: 0.3s ease-in-out;
}


.session_ticket_open_close_button{
color: black;
border: 2px solid grey;
margin-bottom: 3px;
border-radius: 10px;
padding: 5px;
background-color: #99c;
width: 60%;
}


.definition {
color: black;
border: 3px solid blue;
margin-bottom: 3px;
border-radius: 10px;
padding: 4px;
background-color: #eef;
}


.definition_header{
width: fit-content;
padding-left: 5px;
padding-right: 5px;
background-color: #acf
}


.theorem {
color: black;
border: 3px solid blue;
margin-bottom: 3px;
border-radius: 10px;
padding: 4px;
background-color: #eef;
}


.theorem_header{
width: fit-content;
padding-left: 5px;
padding-right: 5px;
background-color: #acf
}